.option_bar {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option_bar button {
  padding: 10px 20px; 
  background-color: antiquewhite;
  cursor : pointer;
}


.all {
  width: 200px; 
  border-radius: 4px;
}

.sub {
  width: 400px; 
  border-radius: 4px;
}

.like {
  width: 400px; 
  border-radius: 4px;
}

/* 글쓰기 버튼 스타일 */

.button_area {
  justify-content: center;
  text-align: end;
  width: 70%;
  margin: 0 auto;
  margin-top: 1%;
}

.write {
  background-color: #F6E3CE;
  height: 40px;
  width: 80px;
  border-radius: 4px;
  
}






/* postTable(게시글 목록 요소 스타일) */
table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th:nth-child(1) {
  width: 10%;
}

th:nth-child(2) {
  width: 50%;
}

th:nth-child(3),
th:nth-child(4) {
  width: 20%;
}

/* 페이지네이션 스타일 */
/* 나중에 게시글 테이블 완성되면 하단고정으로 만들어야함. */
/* 하....... 버튼 배치를 못하면 어쩌자는거야... */
/* 일단 요소 위치 설정은 나중에 다시 하고 페이지네이션 옆에 버튼 붙히는걸로 */
.pagination-container {
  display: flex;
  justify-content: center; 
}

.pagination{
  
}

.page-link {
  color: black;
}