@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}

main {
  margin-top: 30px;
}

.menu_outline{
  width: 50%;
  margin: 0 auto;
}


.layouts{
  display: inline-flex;
  margin: 5px;
  font-family: 'HakgyoansimWoojuR';
}

button {
  background-color: #F9ECDB;
  height: 60px;
  width: 100px;
  border-radius: 5px;
  margin-left: 10px;
  border: 1.5px solid #764127;
}
.name {
  height: 60px;
  width: 500px;
  margin-left: 5px;
  border: 1.5px solid #764127;
  border-radius: 5px;
}

#column {
  width: 130px;
  height: 60px;
  margin-left: 10px;
  text-align: center;
  border: 1.5px solid #764127;
  border-radius: 5px;
}

.buttons{
  display: flex;
  justify-content: row;
}