<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <style>
        .main_div{
            background-color: #F6E3CE;
        }
        .recomm{
            height: 50px;
            width: 300px;
            border: 3px solid black;
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function(){
            
        })
    </script>
</head>
<body>
    <div class="main_div">
        <div class="recomm" id="recomm_coumn">추천 칼럼</div>
        
        <div class="recomm" id="recomm_book">추천 책</div>
        
        <div class="recomm" id="recomm_class">분야별 컬럼 분류</div>
        
        <div class="recomm" id="recomm_discussRoom">추천 토론방</div>
        
    </div>
</body>
</html>
<!-- 1. 위치는 다 만들고 한번에 정하기 -->
<!-- 2.스크립트는 여기에  -->
<!-- 3.변수 이름 여기 적기 -->