<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/project/css/main_page/main.css">
    <script src="/project/js/main_page/main.js"></script>
    <script src="/project/js/common/common.js"></script>
</head>
<body>
    <header id="header"></header>
    <div class="main_div">
        <div class="recomm" id="recomm_coumn">추천 칼럼</div>
        <div class="coumn_bar">
            <div class="bar_item">칼럼 제목</div>
            <div class="bar_item">칼럼 제목</div>
            <div class="bar_item">칼럼 제목</div>
            <div class="bar_item">칼럼 제목1</div>
            <div class="bar_item">칼럼 제목2</div>
        </div>
        <div class="recomm" id="recomm_book">추천 책</div>
        <div class="coumn_bar">
            <div class="bar_item">추천 책 이미지</div>
            <div class="bar_item">추천 책 이미지</div>
            <div class="bar_item">추천 책 이미지</div>
            <div class="bar_item">추천 책 이미지</div>
            <div class="bar_item">추천 책 이미지</div>
        </div>    
        <div class="recomm" id="recomm_class">분야별 컬럼 분류</div>
            <div class="class_frame">
                <div class="recomm_bar">
                    <div class="class_item">국내 소설</div>
                    <div class="class_item">해외 소설</div>
                    <div class="class_item">시/에세이</div>
                    <div class="class_item">인문</div>
                <div class="class_item">가정/육아</div>
            </div>
            <div class="recomm_bar">
                <div class="class_item">요리</div>
                <div class="class_item">건강</div>
                <div class="class_item">취미/실용</div>
                <div class="class_item">경제/경영</div>
                <div class="class_item">자기계발</div>
            </div>
            <div class="recomm_bar">
                <div class="class_item">정치/사회</div>
                <div class="class_item">역사/문화</div>
                <div class="class_item">종교</div>
                <div class="class_item">예술/대중문화</div>
                <div class="class_item">기술 공학</div>
            </div>
            <div class="recomm_bar">
                <div class="class_item">외국어</div>
                <div class="class_item">여행</div>
                <div class="class_item">컴퓨터/IT</div>
                <div class="class_item">잡지</div>
                <div class="class_item">만화</div>
            </div>
        </div>
        <div class="recomm" id="recomm_discussRoom">추천 토론방</div>
        <div class="coumn_bar">
            <div class="bar_item">토론방 이름</div>
                <div class="bar_item">토론방 이름</div>
                <div class="bar_item">토론방 이름</div>
                <div class="bar_item">토론방 이름</div>
                <div class="bar_item">토론방 이름</div>
        </div>
    </div>
</body>
<footer id="footer"></footer>
<!-- footer 이상하게 들어감. footer 문제인듯 -->
</html>
<!-- 1차 완성 상세 위치 조정 및 컬러 등은 모든 페이지 기본틀 되고나면 수정 -->
<!-- 안의 컨텐츠(컬럼 분류를 제외한)는 백으로 되야함 -->