@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.search_div .search_results{
    font-family: 'HakgyoansimWoojuR';
}
#srch_select{
    border: 1.5px solid #764127;
}
.search_div {
    background-color: #F9ECDB;
    border: 1.5px solid #764127;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

input {
    border: 1.5px solid #764127;
    width: 500px;
    padding: 10px;
}

#srch_select input div {
    display: inline-block;

}

.outline {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#x_div {
    display: flex;
    justify-content: flex-end;
}

#x_icon {
    font-size: 50px;
    font-weight: bold;

}

#search_icon {
    font-size: 20px;
}

#srch_select {
    height: 35px;
}
/* 검색 결과 표 */
table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    border: 1.5px solid #764127;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th:nth-child(1) {
    width: 10%;
}

th:nth-child(2) {
    width: 50%;
}

th:nth-child(3),
th:nth-child(4) {
    width: 20%;
}
