<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>토론방</title>
    <link rel="stylesheet" href="/project/css/discussion/allDiscussionRoom.css">
    <script src="https://kit.fontawesome.com/7a79c7be2a.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/project/js/common/common.js"></script>
    <script src="/project/js/discussion/discussionRoom.js"></script>
</head>

<body>
    <header id="header"></header>

    <main>
        <article class="discussion-rooms-article">
            <!-- 토론방 선택 -->
            <div class="select-discussion-rooms">
                <button>추천 토론방</button>
                <button>추천 토론방</button>
                <button>내 토론방</button>
            </div>

            <!-- 토론방 타이틀 모음 -->
            <div class="room-title-wrap">
                <ul>
                    <li class="room-number">No</li>
                    <li class="room-name">토론방 이름</li>
                    <li class="room-manager">방장</li>
                </ul>
            </div>
            
            
            <!-- 토론방 목록 -->
            <div class="discussion-rooms-list">
                <div class="user-rooms-wrap">
                    <!-- 테스트용 -->
                </div>
            </div>

            <!-- 토론방 검색, 만들기 -->
            <div>
                <div class="room-search">
                    <p>토론방 이름 검색</p>
                    <input type="text" placeholder="검색창">
                    <button class="room-search-btn">검색</button>
                </div>
                <button class="add-room-btn">새 토론방 만들기</button>
            </div>
        </article>
    </main>

    <!-- <footer id="footer"></footer> -->
</body>

</html>