/* css 코드가 연결이 안되어 있어서 시도해보다가 원래 기능을 안하고 깨져서 옮겨만 둔 상태입니다.
  확인해보시고 수정 부탁드려요. 23.9.4 서지호
*/


/* footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px; 
        
}

footer span {
  margin: 0 70px;
  line-height: 3.5;
  border: 1px solid black
} */