<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>운영자 고객상담 리스트</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <!-- 어드민 header 모듈 -->
  <script src="/project/js/admin/adminModule.js"></script>
  <!-- 페이지네이션 구현 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/project/css/admin/admin_customer_center_list.css">
</head>

<body>
  <header id="header"></header>
  <main>
    <h2>운영자 고객상담 답변 리스트</h2>
    <!-- 게시글 목록 요소 -->
    <!-- 개시글 요소 생성시 -->
    <table id="postTable">
      <thead>
        <tr>
          <th>No</th>
          <th>제목</th>
          <th>아이디</th>
          <th>등록시간</th>
          <th>답변상태</th>
        </tr>
      </thead>
      <tbody id="postBody"></tbody>
    </table>

    <!-- 지호님 pagenation -->
    <nav aria-label="Page navigation example" class="pagination-container">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">이전</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">다음</a></li>
      </ul>
    </nav>
  </main>
</body>

</html>