<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>운영자 고객상담 답변</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="/project/js/admin/adminModule.js"></script>
  <link rel="stylesheet" href="/project/css/admin/admin_customer_center_respond.css">
</head>
<body>
  <header id="header"></header>

  <main>
    <h1>1:1 고객상담 응답</h2>
      <div class="container">
      <div class="section_container">
        <div class="section">
          <label for="email">회원 이메일</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="section">
          <label for="inquiry">고객의 문의내용</label>
          <textarea id="inquiry" name="inquiry" rows=5 required></textarea>
        </div>
        <div class="section">
          <label for="inquiry">답변</label>
          <input type="text" class="respond">
        </div>
        <div class= "section">
          <label for= "attachment">첨부파일</label> 
          <input type= "file" id= "attachment" name= "attachment"> 
        </div>
      </div>
      <div class= "buttons">
        <button type= "submit">전송하기</button> 
        <button type= "reset">취소</button> 
      </div> 
      
    </div>
  </main>
</body>
</html>