<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 마케팅 데이터</title>
  <link rel="stylesheet" href="/project/css/admin/admin_marketing_data.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/7a79c7be2a.js" crossorigin="anonymous"></script>
  <script src="/project/js/admin/adminModule.js"></script>
  <script src="/project/js/admin/admin_marketing_data.js"></script>
</head>

<body>
  <header id="header"></header>

  <main>
    <div class="path-wrap">
      <p class="path"></p>
    </div>
    <div class="marketing-data-graph">
      <div class="select-marketing-data-graph">
        <ul>
          <li>Hot Book</li>
          <li>Hot Topic</li>
          <li>신규회원추이</li>
          <li>상담분야분석</li>
        </ul>
      </div>
    </div>

    <div class="marketing-chart">
      <!-- <p>차트 들어갈 자리</p> -->
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </div>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
    integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
    crossorigin="anonymous"></script>
</body>

</html>