<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 마케팅 데이터</title>
    <link rel="stylesheet" href="/project/css/admin/admin_marketing_data.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/project/js/common/common.js"></script>
    <script src="/project/js/admin/adminModule.js"></script>
</head>
<body>
  <header id="header"></header>

    <main>
      <div class="button-wrap">
        <button>hot book</button>
        <button>hot topic</button>
        <button>신규회원추이</button>
        <button>상담분야분석</button>
      </div>

      <div class="marketing-chart">
        <p>
            차트 들어갈 자리
        </p>
      </div>
    </main>
</body>
</html>