<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/project/css/admin/admin_menu.css">
</head>

<body>
   <header>
    <div class="admin_menu">
        <div id="member_check">회원 조회</div>
        <div id="shared_room">운영자간 운영 공유방</div>
        <div id="marketing_data">마케팅 데이터 화면</div>
        <div id="Customer_consultation">고객상담</div>
    </div>
    <div id="empty"></div>
   </header> 
</body>

</html>