<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운영자간 운영 공유방</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/project/css/admin/admin_chat.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- daisyUi 링크 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="/project/js/admin/admin_chat.js"></script>
    <script src="/project/js/admin/adminModule.js"></script>
</head>
<body>
  <header id="header"></header>
    <main>
      <div class="chat_screen"></div>
      <div class="input_div">
        <!-- shift+enter일때는 줄바꿈이 되면 좋겠어. 제이쿼리로 해결하고 싶음. -->
        <textarea id="chat_input" cols="30" rows="10"></textarea>
        <div class="enter_btn">입력</div>
      </div>
    </main>  
</body>
</html>