<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 계정 로그인</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/project/css/admin/admin_login.css">
    <script src="/project/js/common/common.js"></script>
    <script src="/project/js/admin/admin_login.js"></script>

</head>
<body>
    <header id="header"></header>
    <main>
        <div class="main_div">
            <div class="contents">
                <h1>로그인</h1>
            </div>
            <div class="contents">
                <div class="division_name" id="id">아이디</div>
                <input type="password" class="input_bar" id="id_bar">
            </div>
            <div class="contents">
                <div class="division_name" id="Pw">비밀번호</div>
                <input type="password" class="input_bar" id="pw_bar">
            </div>
            <div class="contents" id="ck_button_outdiv">
                <button class="division_name" id="login_Btn">로그인</button>
            </div>
        </div>
    </main>
</body>

</html>