<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/project/css/passwd/passwd_reset.css">
    <script>
        $(document).ready(function(){
            // "확인" 요소에 마우스 오버 시 커서 모양 변경
            $('#ck_button').mouseover(function(){
                $(this).css('cursor', 'pointer');
            })
            // 비밀번호 제약 : 공백 입력 금지, 02~30자
            $('.name_input').on('input',function(){
                var input = $(this).val()
                if(input.length>=30){
                    alert("비밀번호는 30자이하 입니다.")
                    $(this).val(name.substring(0, 30));
                }
                if (/\s/.test(input)) {
                alert('공백을 입력할 수 없습니다.');
                $(this).val(input.replace(/\s/g, ''));
            }
        })

        // 확인 버튼 눌렀을때 동작
        $('#ck_button').on('click',function(){
            var newpw = $("#newpw").val()
            var newpw_ck = $("#newpw_ck").val()

            // 공백 여부 확인
            if (newpw.trim() === '' || newpw_ck.trim() === '') {
                alert("비밀번호를 입력해주세요")
                return
            }
            if(newpw.length<10 || newpw_ck.length<10){
                alert("비밀번호는 10자 이상 30자 이하입니다.")
                return
            }
            if(newpw!=newpw_ck){
                alert("비밀번호가 동일하지 않습니다.")
                return
            }
                alert("비밀번호가 동일합니다") // 페이지 완성되면 동일했을때 메인으로 넘어가는걸로 수정
        })
        })
    </script>
</head>
<body>
    <div class="main_div">
        <div class="contents">
            <h1>비밀번호 변경</h1>
            <p>새로운 비밀번호를 설정해 주세요</p>
        </div>
        <div class="contents">
            <div class="division_name" id="newpw_input">새 비밀번호</div>
            <input type="password" class="name_input" id="newpw">
        </div>
        <div class="contents">
            <div class="division_name">새 비밀번호 확인</div>
            <input type="password" class="name_input" id="newpw_ck">
        </div>
        <div class="contents" id="ck_button_outdiv">
            <div class="division_name" id="ck_button">확인</div>
        </div>
    </div>
</body>
</html>