@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'HakgyoansimWoojuR';
}

h1 {
    margin: 10px 0 20px 0;
}

.login-form {
    width: 500px;
    border: 1.5px solid #764127;
    border-radius: 5px;
    padding: 20px;
    margin: 30px auto;
}

.login-form>h1{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

/* 수정 요청한 부분 추가 */
.login-wrap{
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-gap: 15px;
}

/* 수정 요청한 부분 추가 */
.login-id,
.login-pw{
    border: 1px solid;
    border-radius: 5px;
    background-color: #F9ECDB;
    margin: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.text-field,
.submit-btn {
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 7px 0;
    padding: 18px 12px;
}

.text-field {
    letter-spacing: 1.5px;
    font-weight: bold;
}

.submit-btn {
    padding: 12px 0;
    background-color: #F9ECDB;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.links a {
    font-size: 1.2rem;
    color: black;
}

.login-btn-container{
    text-align: center;
}

.login-btn-container img{
    width: 100%;
    height: 65px;
    margin: 5px auto;
}
/* 439 70 */

.qr-btn {
    font-size: 1.2rem;
    background-color: #F9ECDB;
    border-radius: 5px;
    width: 120px;
    height: 110px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

.submit-btn:hover,
.qr-btn:hover {
    background-color: #F6E3CE;
}