@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}

div {
    border-radius: 10px;
    font-family: 'HakgyoansimWoojuR';
}


input {
    padding: 10px;
    display: inline-block;
    width: 210px;
}

main {
    display: flex;
    justify-content: center;
}

.main_div {
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1.5px solid #764127;
    width: 600px;
}

.contents {
    padding: 5px;
    width: 600px;

}

.division_name {
    display: inline-block;
    border: 1.5px solid #764127;
    padding: 10px;
    background-color: #F9ECDB;
    text-align: center;
    width: 45px;
}

#name_div {
    width: 45px;
}

h1 {
    text-align: center;
}

#ck_num {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#ck_num_input {
    width: 361px;
    margin-right: 10px;
}

#ck_button {
    width: 400px;
    padding: 15px;
    text-align: center;
    display: inline-block;

}

#ck_button_outdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_input {
    width: 80%;
}

#select-email-option{
    padding:10px;
    width: 250px;
    text-align: center;
}

#ck_num_box{
    width: 82px;
    margin-right: 5%;
}   