* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.discussion-rooms-article {
    width: 70%;
    height: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

/* 토론방 선택 */
.select-discussion-rooms {
    margin-top: 20px;
    padding: 20px 0;
    border: 1.4px solid #764127;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.select-discussion-rooms>button {
    border: 1px solid;
    border-radius: 5px;
    background-color: #F9ECDB;
    width: 30%;
    height: 50px;
}

.select-discussion-rooms>button:hover {
    background-color: #e4d2bc;
}



/* 토론방 타이틀 모음 */
.room-title-wrap>ul {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    grid-auto-rows: minmax(40px, auto);
    border: 1px solid #ddd;
    margin: 30px 0 0 0;
    padding: 0;
    background-color: #f2f2f2;
}

.room-title-wrap>ul>li {
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}

.room-title-wrap>ul>li:not(:last-child) {
    border-right: 1px solid #ddd;
}

/* 토론방 목록 */
.user-rooms-wrap>ul {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    grid-auto-rows: minmax(40px, auto);
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-top: 0;
}

.user-rooms-wrap>ul:hover {
    background-color: #F9ECDB;
}

.user-rooms-wrap>ul>li {
    display: grid;
    align-items: center;
    text-align: center;
}

.user-rooms-wrap>ul>li:nth-child(2) {
    cursor: pointer;
}

.user-rooms-wrap>ul>li:not(:last-child) {
    border-right: 1px solid #ddd;
}





/* 토론방 검색, 만들기 */
.room-search-wrap {
    width: 70%;
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.room-search {
    width: 75%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2.5fr .5fr;
}

.room-search>div,
.room-search>input,
.room-search>button,
.room-search-wrap>.add-room-btn {
    border: 1px solid;
    border-radius: 5px;
    margin: 0 3px;
    padding: 8px 5px;
    font-size: .8rem;
    background-color: #F9ECDB;
}

.room-search>input {
    background-color: white;
    padding: 0 6px;
}




/* 지호님 pagination 스타일 가져온 거 */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination {}

.page-link {
    color: black;
}