<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탈퇴 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/project/css/user/deleteAccount.css">
</head>

<body>
    <div class="delete_account-form">
        <p>정말 탈퇴하시겠습니까? <br>
            탈퇴하려는 이유를 체크해 주세요</p>
        <div class="checkbox-part">
            <label for="all"><input type="checkbox" id="all" value="all" /> 다른 사이트가 더 좋아서 </label> <br>
            <label for="all"><input type="checkbox" id="all" value="all" /> 사용빈도가 낮아서 </label> <br>
            <label for="all"><input type="checkbox" id="all" value="all" /> 콘텐츠 불만 </label> <br>
            <label for="all"><input type="checkbox" id="all" value="all" /> 기타 </label> <br>
            <input type="text" name="기타" class="text-field" placeholder="이유를 적어주세요">
            <!-- <input type="text" name="기타" class="text-field" placeholder="이유를 적어주세요"> -->
        </div>

        <p>현재 사용중인 비밀번호</p>
        <input type="password" id="passwordInput" placeholder="비밀번호를 입력하세요">
        <p>비밀번호를 잊으셨나요?</p>
        <div class="links">
            <a href="#">비밀번호 재설정</a>
        </div>
        <button id="withdrawButton">탈퇴하기</button>
    </div>

    <script>
        const searchButton = document.querySelector('#withdrawButton');

        searchButton.addEventListener('click', (e) => {
            e.preventDefault();
            AlertCheckbox()	// all unchecked 일 때, 이 함수 소환!
        })

        //😍 ALL NO checked 함수
        function AlertCheckbox() {
            const checkPart = document.querySelector('.checkbox-part');
            const checkboxes = checkPart.querySelectorAll('input');
            let checkedCnt = 0;

            //😍 이렇게 바꿨어요!
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked === true) {
                    checkedCnt++
                }
            }

            if(checkedCnt == 0){
                alert("체크박스를 선택해주세요.")
                return;
            }
            
            // 체크없으면 바로 return해서 alert 띄우기!

            // 비밀번호 입력 확인
            var passwordInput = document.getElementById('passwordInput').value;
            if (passwordInput.trim() === '') {
                // 비밀번호가 비어있을 때 경고 메시지 표시
                alert('비밀번호를 작성해 주세요.');
                return;
            }

            alert('탈퇴되었습니다.');
        }






            // var checkbox = document.getElementById('reasonCheckbox');
            // if (!checkbox.checked) {
            //     // 체크되지 않았을 때 경고 메시지 표시
            //     alert('체크박스를 선택하세요.');
            //     return; 
            // }


        // });
    </script>
</body>

</html>