@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.admin_header {
  background-color: #F9ECDB;
  height: 120px;
  position: relative;
  z-index: 3;
}

.site_name {
  display: inline-block;
  /* border: 3px solid black; */
  padding: 10px;
  font-family: 'GmarketSansMedium';
}

.site_name a {
  color: black; /* 링크의 색상을 검정으로 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.site_name a:hover {
  color: black; /* 호버 시에도 색상을 검정으로 유지 */
}

/* 로고 */
.bi{
  font-size: 30px;
  margin-left: 2px;
}

.menu_bar {
  /* border: 3px solid black; */
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.menu_bar_item {
  padding: auto;
  font-size: 20px;
  width: 200px;
  height: 25px;
  /* border: 3px solid black; */
  display: inline-block;
  position: relative;
  text-align: center;
}

.menu_bar_item:hover {
  background-color: #F6E3CE;
}

.menu_bar_item a {
  font-family: 'HakgyoansimWoojuR';
  color: black; /* 링크의 색상을 검정으로 설정 */
  text-decoration: none; /* 밑줄 제거 */
}
.menu_bar_item a:hover {
  background-color: transparent; /* 호버 시 배경색 투명으로 설정 */
}
