@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.admin_header {
  background-color: #F6E3CE;
  height: 120px;
  position: relative;
  z-index: 3;
}

.site_name {
  display: inline-block;
  /* border: 3px solid black; */
  padding: 15px;
  font-family: 'GmarketSansMedium';
}

/* 로고 */
.bi{
  font-size: 30px;
  margin-left: 2px;
}

.menu_bar {
  /* border: 3px solid black; */
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.menu_bar_item {
  font-size: 20px;
  width: 200px;
  /* border: 3px solid black; */
  display: inline-block;
  position: relative;
  text-align: center;
}


a {
  text-decoration: none;
  color: black;
}
