@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HakgyoansimWoojuR';
}


.button-wrap {
    width: 70%;
    margin: 10px auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.button-wrap>button {
    width: 22%;
    padding: 20px 0;
    border: 1.5px solid;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #F6E3CE;
    cursor: pointer;
}

.button-wrap>button:hover {
    background-color: #e4d2bc;
}

.marketing-chart {
    width: 70%;
    height: 740px;
    border: 2px solid;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9ECDB;
}