.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

.section {
  margin-bottom: 20px;
}

label {
  display: block;
}
.respond,
input[type='email'],
textarea {
  width: 100%;
}

.buttons button {
 margin-right :10px;  
}
