@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'HakgyoansimWoojuR';
  border: 2px solid #764127;
  border-radius: 10px;
}

h1 {
  border-top: 3px solid #F6E3CE;
  border-bottom: 3px solid #F6E3CE;
  padding: 10px;
  margin: 20px auto;
  width: 60%;
  font-family: 'HakgyoansimWoojuR';
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 500;
  line-height: 1.2;
}


.section {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  border: 1.5.px sol;
}

.respond,
input[type='email'],
textarea {
  width: 100%;
  
}

.buttons button {
 margin-right :10px;  
}
