@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'HakgyoansimWoojuR';
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.path-wrap {
    position: relative;
    width: 70%;
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 40px;
}

.path {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 1rem;
}

.marketing-data-graph {
    width: 70%;
    height: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.select-marketing-data-graph {
    padding-top: 20px;
    border-top: 3px solid #F6E3CE;
    border-bottom: 2px solid #F6E3CE;
}


.select-marketing-data-graph>ul {
    display: flex;
    justify-content: center;
}

.select-marketing-data-graph>ul>li {
    margin: 0 15px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.select-marketing-data-graph>ul>li:first-child {
    font-weight: bold;
    border-bottom: 2px solid #764127;
}

.marketing-chart {
    width: 60%;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid #764127;
    height: 40%;
    border-radius: 5px;
}